#middle {
	height: 100%;
}

/*#menu_main {
	background: url("/images/menu_bg.gif") 0px 6px no-repeat;
}
#menu_main_active {
	background: url("/images/menu_bg.gif") 0px -24px no-repeat;
}
#menu_main:hover {
	background: url("/images/menu_bg.gif") 0px -24px no-repeat;
}
#menu_boxes {
	background: url("/images/menu_bg.gif") 0px -56px no-repeat;
}
#menu_boxes_active {
	background: url("/images/menu_bg.gif") 0px -86px no-repeat;
}
#menu_boxes:hover {
	background: url("/images/menu_bg.gif") 0px -86px no-repeat;
}
#menu_calc {
	background: url("/images/menu_bg.gif") 0px -117px no-repeat;
}
#menu_calc_active {
	background: url("/images/menu_bg.gif") 0px -147px no-repeat;
}
#menu_calc:hover {
	background: url("/images/menu_bg.gif") 0px -147px no-repeat;
}
#menu_feedback {
	background: url("/images/menu_bg.gif") 0px -174px no-repeat;
}
#menu_feedback_active {
	background: url("/images/menu_bg.gif") 0px -204px no-repeat;
}
#menu_feedback:hover {
	background: url("/images/menu_bg.gif") 0px -204px no-repeat;
}

#header_main {
	background: url("/images/headers.gif") 0px 0px no-repeat;
}
#header_boxes {
	background: url("/images/headers.gif") 0px -50px no-repeat;
}
#header_calc {
	background: url("/images/headers.gif") 0px -100px no-repeat;
}
#header_feedback {
	background: url("/images/headers.gif") 0px -150px no-repeat;
}

#content {
	height: 100%;
}*/