/* feedback */
#feedback label {
	width: 200px;
	float: left;
	text-align: right;
	margin: 0px 0px 10px 0px;
}
#feedback input.text {
	width: 250px;
}
#feedback textarea {
	width: 350px;
	height: 200px;
}
#feedback input.text, #feedback textarea {
	border: 1px solid rgb(76, 76, 76);
	margin: 0px 0px 10px 5px;
	padding: 0px;
	background: rgb(255, 255, 255);
}
#feedback textarea {
	overflow: auto;
}
#feedback br {
	clear: both;
}
#feedback input.submit {
	margin: 0px 0px 10px 205px;
	padding: 3px;
	color: #000;
	border: 1px solid rgb(76, 76, 76);
	background: rgb(222, 222, 222);
	cursor: pointer;
}
#phone {
	font-size: 20px;
	font-weight: bold;
	color: rgb(100%, 0%, 0%);
}

/* main */
#logos {
	text-align: center;
	margin-bottom: 20px;
}
#logos img {
	margin: 5px;
}

/* boxes */
div.box_small {
	height: 180px;
	width: 180px;
	float: left;
	text-align: center;
}
div.box_big {
	height: 350px;
	width: 350px;
	float: left;
	text-align: center;
}
div.box_height_big {
	height: 450px;
	width: 350px;
	float: left;
	text-align: center;
}